/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4682A9;
  /*#25c2a0;*/
  --ifm-color-primary-dark: #749BC2;
  /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #91C8E4;
  /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #F6F4EB;
  /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8;
  /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea;
  /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef;
  /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --highlight-box-color: rgba(0, 0, 0, 0.05);
  --highlight-box-border-color: rgba(0, 0, 0, 0.07);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #8CABFF;
  /*#25c2a0;*/
  --ifm-color-primary-dark: #4477CE;
  /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #512B81;
  /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #35155D;
  /*rgb(26, 136, 112);*/


  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --highlight-box-color: rgba(255, 255, 255, 0.05);
  --highlight-box-border-color: rgba(255, 255, 255, 0.07);
}

.dateLabel {
  color: var(--ifm-color-primary)
}

.highlight-div {
  background: var(--highlight-box-color);
  border: 2px solid var(--highlight-box-border-color);
  border-radius: 5px;
  font-size: 17px;
  padding: 10px;
  margin: 10px;
}

.landingHeroCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.article-card {
  width: 350px;
  height: 220px;
  border-radius: 12px;
  margin: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 200ms;
}

.article-card-hover:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.article-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 200ms;
}

.article-card:hover img {
  transform: scale(1.05);
}

.article-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.article-card .title {
  margin: 0;
  font-size: 17px;
  color: #fff;
}

.new-div {
  display: block;
  float:right;
  height: 500px;
  width: 49%;
  padding: 0 10px; /* Optional: Add some spacing between the new div and the iframes */
  background-color: lightgray; /* Optional: Add a background color to distinguish the new div */
}